doctype html
html
  head
    title ToDoList
    meta(charset=UTF-8)
    link(rel="stylesheet" href = "./style.css")
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(defer src = "./script.js")
  body
    .myToDo