.myToDo
  background-color #dedede
  max-width 17.8%
  margin 0 auto
  &__textInput
    border-color #000
    border-radius 4px
  &__buttonAdd
    margin-left 15px
    border 2px tomato
    border-radius 2px
    background-color tomato
  &List__item
    margin-left -40px
    list-style-type none
    &_done
      background-color green
      font-style italic
      font-weight bold
  &__buttonDel
    float right
    background-color red
    border-radius 2px
    border 2px red